/* Additonal CSS for thread.html */

#threadContent {
    margin: 5px;
    padding: 5px;
    height: 100px;
    width: 600px;
    margin-top: 145px;
    color: white;
    margin-left: 25%
}

#commentCount {
    color: white;
}

#addCommentButton {
    margin: 5px;
    padding: 5px;
    width: 100%;
}

#newComment {
    margin: 5px;
    padding: 5px;
    height: 100px;
    width: 100%;
    resize: none;

}
.title{
margin-bottom: 15px;
}




